- content_for(:title, "Personal Records - Running Experts")

%h1 Personal Records

%div.chart-container{style: "width: 80%; margin: 20px auto;"}
  %canvas#recordsChart

%table.records-table
  %thead
    %tr
      %th Distance
      %th Time
      %th Pace (min/km)
      %th Pace (km/h)
      %th Date
      %th Activity
  %tbody
    - @personal_records.each do |distance_name, record|
      %tr
        %td= distance_name
        %td= format_time(record[:time])
        %td= format_pace(record[:pace])
        %td= "#{grey_decimals(pace_to_kmph(record[:pace]))}"
        %td= record[:date].strftime("%d/%m/%Y")
        %td= link_to record[:activity].name, activity_path(record[:activity])

= render 'pace_chart_script', chart_data: @chart_data