- lat, lng = [[52.23460, 6.08971], [52.16185, 6.71947], [52.23880, 6.83393]].sample
= form_with url: easy_targets_segments_path, method: :get do |f|
  .location-fields
    = f.number_field :lat, step: :any, placeholder: "Latitude", value: lat, id: "lat_field"
    = f.number_field :lng, step: :any, placeholder: "Longitude", value: lng, id: "lng_field"
    %button{type: "button", onclick: "getCurrentLocation()", class: "btn btn-location"} 📍 Use Current Location
  = f.number_field :radius, placeholder: "Radius (km)", value: 5
  = f.number_field :max_distance, placeholder: "Max segment (m)", value: 3000
  = f.number_field :max_pace, step: 0.1, placeholder: "Max pace (min/km)"
  = f.submit "Find Segments"

.database-search-options
  %p Or search from your saved segments:
  %button{type: "button", onclick: "searchDoneSegments()", class: "btn btn-database"} Show All Done Segments
  %button{type: "button", onclick: "searchFavoritedSegments()", class: "btn btn-database"} Show All Favorited Segments

:javascript
  function searchDoneSegments() {
    window.location.href = '#{easy_targets_segments_path}?filter=done';
  }
  
  function searchFavoritedSegments() {
    window.location.href = '#{easy_targets_segments_path}?filter=favorited';
  }
