- lat, lng = [[52.23460, 6.08971], [52.16185, 6.71947], [52.23880, 6.83393]].sample
= form_with url: easy_targets_segments_path, method: :get do |f|
  = f.number_field :lat, step: :any, placeholder: "Latitude", value: lat
  = f.number_field :lng, step: :any, placeholder: "Longitude", value: lng
  = f.number_field :radius, placeholder: "Radius (km)", value: 5
  = f.number_field :max_distance, placeholder: "Max segment (m)", value: 3000
  = f.number_field :max_pace, step: 0.1, placeholder: "Max pace (min/km)"
  = f.submit "Find Segments"
