- content_for(:title, "Running Insights - Running Experts")
- content_for :head do
  = stylesheet_link_tag 'insights', 'data-turbo-track': 'reload'

%h1 Running Insights

.insights-grid
  .insight-card
    %h3 Best Day of the Week
    - if @best_day_of_week.any?
      - fastest_day = @best_day_of_week.min_by { |day, data| data[:pace] }
      %p
        %strong= fastest_day[0]
        is your fastest day with
        %strong= "#{format_pace(fastest_day[1][:pace])} /km"

      %table.insight-table
        %tbody
          -# Rotate the day names to start from Monday
          - Date::DAYNAMES.rotate(1).each do |day|
            - if @best_day_of_week[day]
              - data = @best_day_of_week[day]
              %tr{ class: (day == fastest_day[0] ? 'fastest-row' : '') }
                %td.day-name= day
                %td.pace-value= "#{format_pace(data[:pace])} /km"
                %td.count-value= "#{data[:count]} runs"
                %td.percentage-value= "#{data[:percentage].round(1)}%"
                %td.action-cell= link_to "Show", activities_path(day_of_week: day.downcase), class: "show-link"
    - else
      %p Not enough data

  .insight-card
    %h3 Best Time of Day
    - if @best_time_of_day.any?
      - fastest_time = @best_time_of_day.min_by { |window, data| data[:pace] }
      %p
        %strong= fastest_time[0]
        is your fastest time window with
        %strong= "#{format_pace(fastest_time[1][:pace])} /km"

      %table.insight-table
        %tbody
          - ["00:00-04:00", "04:00-08:00", "08:00-12:00", "12:00-16:00", "16:00-20:00", "20:00-24:00"].each do |window|
            - if @best_time_of_day[window]
              - data = @best_time_of_day[window]
              %tr{ class: (window == fastest_time[0] ? 'fastest-row' : '') }
                %td.day-name= window
                %td.pace-value= "#{format_pace(data[:pace])} /km"
                %td.count-value= "#{data[:count]} runs"
                %td.percentage-value= "#{data[:percentage].round(1)}%"
                %td.action-cell= link_to "Show", activities_path(time_window: window), class: "show-link"
    - else
      %p Not enough data

  .insight-card
    %h3 Weekend vs Weekday
    - if @weekend_vs_weekday[:weekend][:pace] && @weekend_vs_weekday[:weekday][:pace]
      - weekend_data = @weekend_vs_weekday[:weekend]
      - weekday_data = @weekend_vs_weekday[:weekday]
      - diff = weekend_data[:pace] - weekday_data[:pace]
      %p
        - if diff > 0
          You run
          %strong #{format_pace(diff.abs)} /km
          faster on weekdays!
        - elsif diff < 0
          You run
          %strong #{format_pace(diff.abs)} /km
          faster on weekends!
        - else
          No difference between weekend and weekday pace!

      %table.insight-table
        %tbody
          %tr{ class: (weekday_data[:pace] < weekend_data[:pace] ? 'fastest-row' : '') }
            %td.day-name Weekday
            %td.pace-value= "#{format_pace(weekday_data[:pace])} /km"
            %td.count-value= "#{weekday_data[:count]} runs"
            %td.percentage-value= "#{weekday_data[:percentage].round(1)}%"
            %td.action-cell= link_to "Show", activities_path(weekday: true), class: "show-link"
          %tr{ class: (weekday_data[:pace] > weekend_data[:pace] ? 'fastest-row' : '') }
            %td.day-name Weekend
            %td.pace-value= "#{format_pace(weekend_data[:pace])} /km"
            %td.count-value= "#{weekend_data[:count]} runs"
            %td.percentage-value= "#{weekend_data[:percentage].round(1)}%"
            %td.action-cell= link_to "Show", activities_path(weekend: true), class: "show-link"
    - else
      %p Not enough data

  .insight-card
    %h3 Monthly Trends
    - if @monthly_trends.any?
      - best_month = @monthly_trends.min_by { |month, data| data[:pace] }
      - most_active_month = @monthly_trends.max_by { |month, data| data[:count] }
      - most_distance_month = @monthly_trends.max_by { |month, data| data[:distance] }

      %p
        %strong Best pace:
        #{best_month[0]} with #{format_pace(best_month[1][:pace])} /km
      %p
        %strong Most active:
        #{most_active_month[0]} with #{most_active_month[1][:count]} runs
      %p
        %strong Most distance:
        #{most_distance_month[0]} with #{most_distance_month[1][:distance]} km

      %table.insight-table
        %tbody
          - @monthly_trends.each do |month, data|
            %tr{ class: (month == best_month[0] ? 'fastest-row' : '') }
              %td.day-name= month
              %td.pace-value= "#{format_pace(data[:pace])} /km"
              %td.count-value= "#{data[:count]} runs"
              %td.distance-value= "#{data[:distance]}km"
              %td.action-cell= link_to "Show", activities_path(month: month), class: "show-link"
    - else
      %p Not enough data

  .insight-card
    %h3 Rest Day Impact
    - if @rest_day_impact.any?
      %table.insight-table
        %tbody
          - @rest_day_impact.each do |rest_days, data|
            %tr{ class: (data[:pace] == @rest_day_impact.values.map { |d| d[:pace] }.min ? 'fastest-row' : '') }
              %td.rest-days= "#{rest_days} days"
              %td.pace-value= "#{format_pace(data[:pace])}"
              %td.count-value= data[:count]
    - else
      %p Not enough data

  .insight-card
    %h3 Distance vs Pace Analysis
    - if @pace_consistency.is_a?(Hash) && @pace_consistency[:average_pace_change_per_km]
      %p
        On average, pace changes by
        %strong= "#{format_pace(@pace_consistency[:average_pace_change_per_km].abs)} /km"
        per kilometer of distance

      - if @pace_consistency[:splits_data].any?
        %p
          %strong Average Pace by Distance:
        %table.insight-table
          %tbody
            - @pace_consistency[:splits_data].each do |km, pace|
              %tr
                %td.day-name KM #{km}
                %td.pace-value= "#{format_pace(pace)} /km"
    - else
      %p= @pace_consistency

  .insight-card
    %h3 Within-Run Pace Consistency
    - if @within_run_pace_consistency.is_a?(Hash)
      %p
        %strong= @within_run_pace_consistency[:interpretation]
      %p
        Average pace change:
        %strong
          = "#{format_pace(@within_run_pace_consistency[:average_pace_trend_per_km].abs)}"
          != "/km<sup>2</sup>"
        - if @within_run_pace_consistency[:average_pace_trend_per_km] > 0
          (getting slower)
        - else
          (getting faster)
      %p
        %em Analysis based on #{@within_run_pace_consistency[:runs_analyzed]} runs with split data
    - else
      %p= @within_run_pace_consistency