- content_for(:title, "Activities - Running Experts")
- content_for :head do
  = stylesheet_link_tag 'activities', 'data-turbo-track': 'reload'

%h1 Your Running Activities

- if @filter_description
  .filter-notice
    %p
      %strong= @filter_description
    %p= link_to "← Show all activities", activities_path

.stats-summary
  %p
    %strong Total: #{@activities.count} runs
    | #{@total_distance.round(1)} km
    | #{format_total_time(@total_time)}

%table.activities-table
  %thead
    %tr
      %th= sortable_link('date', 'Date')
      %th= sortable_link('name', 'Name')
      %th= sortable_link('distance', 'Distance (km)')
      %th= sortable_link('duration', 'Duration')
      %th= sortable_link('pace_per_km', 'Pace (/km)')
      %th= sortable_link('pace_kmph', 'Pace (km/h)')
      %th= sortable_link('elevation', 'Elevation (m)')
      %th Details
  %tbody
    - @activities.each do |activity|
      %tr
        %td= activity.start_date.strftime("%d/%m/%Y")
        %td= truncate(activity.name, length: 30)
        %td= "#{grey_decimals(activity.distance_km)}"
        %td= format_time(activity.duration)
        %td= format_pace(activity.pace_per_km)
        %td= "#{grey_decimals(pace_to_kmph(activity.pace_per_km))}"
        %td= activity.elevation_gain ? "#{activity.elevation_gain.round(0)}" : "-"
        %td= link_to "View", activity_path(activity)