- content_for(:title, "Activities - Running Experts")
- content_for :head do
  = stylesheet_link_tag 'activities', 'data-turbo-track': 'reload'

%h1 Your Running Activities

- if @filter_description
  .filter-notice
    %p
      %strong= @filter_description
    %p= link_to "← Show all activities", activities_path

.stats-summary
  %p
    %strong Total: #{@activities.count} runs
    | #{@total_distance.round(1)} km
    | #{format_total_time(@total_time)}

%table.activities-table
  %thead
    %tr
      %th Date
      %th Name
      %th Distance
      %th Duration
      %th Pace (/km)
      %th Elevation
      %th Details
  %tbody
    - @activities.each do |activity|
      %tr
        %td= activity.start_date.strftime("%m/%d/%Y")
        %td= truncate(activity.name, length: 30)
        %td= "#{activity.distance_km.round(2)} km"
        %td= format_time(activity.duration)
        %td= format_pace(activity.pace_per_km)
        %td= activity.elevation_gain ? "#{activity.elevation_gain.round(0)}m" : "-"
        %td= link_to "View", activity_path(activity)