- content_for(:title, "Activity Details - Running Experts")

%h1= @activity.name

.activity-overview
  -# Activity details overview
  .stats-grid
    .stat
      %strong Date:
      = @activity.start_date.strftime("%B %d, %Y")
    .stat
      %strong Start time:
      = @activity.start_date.strftime("%H:%M")
    .stat
      %strong End time:
      = (@activity.start_date + @activity.elapsed_time.seconds).strftime("%H:%M")
    .stat
      %strong Distance:
      = "#{@activity.distance_km.round(2)} km"
    .stat
      %strong Duration:
      = format_time(@activity.duration)
    .stat
      %strong Pace:
      = format_pace(@activity.pace_per_km)
    .stat
      %strong Elevation:
      = @activity.elevation_gain ? "#{@activity.elevation_gain.round(0)}m" : "-"
    .stat
      %strong Heart Rate:
      = @activity.average_heartrate ? "#{@activity.average_heartrate} bpm" : "-"

- if !@activity.speed_stream
  - if session[:strava_access_token]
    = button_to "Download Speed Data", activities_import_speed_data_path(@activity), method: :post, class: "btn btn-primary"
  - else
    = link_to "Connect with Strava", strava_login_path, class: "btn", data: { turbo: false }

-# Splits
- if @split_data
  %h2 Kilometer Splits
  %table.splits-table
    %thead
      %tr
        %th KM
        %th Pace (min/km)
        %th Difference
        %th Pace (km/h)
        %th Elevation Change
    %tbody
      - @split_data.each do |split_info|
        %tr
          %td= split_info[:km_label]
          %td= split_info[:formatted_pace]
          %td{style: "color: #{split_info[:difference_data][:color]}"}
            = split_info[:difference_data][:text]
          %td= "#{split_info[:speed_kmph]} km/h"
          %td= split_info[:elevation_text]

-# Best efforts
- if @activity.best_efforts.any?
  %h2 Best Efforts
  %table.efforts-table
    %thead
      %tr
        %th Distance
        %th Time
        %th Pace (min/km)
        %th Pace (km/h)
    %tbody
      - @activity.best_efforts.each do |effort|
        - pace = effort.distance > 0 ? (effort.elapsed_time / 60.0) / (effort.distance / 1000.0) : 0
        %tr
          %td= effort.name
          %td= format_time(effort.elapsed_time)
          %td= format_pace(pace)
          %td= pace_to_kmph(pace)

.actions
  = link_to "← Back to Activities", activities_path, class: "btn"